%h2 2011-01-17
.newsbox

  %h3 Second release of Erlang-embedded

  :markdown
    Today we release the second version of Erlang-embedded, dubbed "Harbor
    seal". 

    Changelog:
    * More optimized kernel configuration to better suit the needs of a embedded system.
    * More optimized compilation of erlang.

    As usual get it [here](downloads.html), try it out, and tell us what you think!

    Along with the release of "Harbor Seal" we are also proud to bring you
    Socious and Android for erlang.

  %p
    %img.right{:src=>"images/harbor-seal.jpg", :alt=>"A harbor seal chilling on a rock.", :width=>"150px"}
    :markdown 
      [Phoca
      vitulina](https://secure.wikimedia.org/wikipedia/en/wiki/Harbor_seal),
      also known as the Common Seal or Harbor Seal, is found along temperate
      and Arctic marine coastlines of the Northern hemisphere.  They are brown,
      tan, or gray, with distinctive V-shaped nostrils.  An adult can attain a
      length of 1.85 meters (6.1 ft) and a mass of 132 kilograms (290 lb).
      Females outlive males (30–35 years versus 20–25 years).  Males may fight
      over mates underwater and on land. Females are generally bear a single
      pup, which they care for alone. Pups are able to swim and dive within
      hours of birth and they develop quickly. A fatty tissue layer called
      blubber is present under their skins and helps to maintain body
      temperature.

      In sweden the Harbor Seal is known as Knubbsäl and is the province animal
      of [Bohuslän](https://secure.wikimedia.org/wikipedia/en/wiki/Bohuslaen).
